<div>
  <% if signed_in? %>
  <%= link_to "(#{current_user.name}) Sign out", signout_path, method: "delete" %>
  <%= link_to "#{current_user.name}'s Events", current_user %>
  <% else %>
    <%= link_to 'Sign in', signin_path %>

    <%= link_to 'Sign Up', signup_path %>
  <% end %>
  <%= link_to 'Home', root_path %>
</div>