<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <nav class="navbar navbar-light bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Event Manager</a>
        </div>
        <span class="nav navbar-nav navbar-right">
        <span class="links"><%= link_to 'Home', root_path %></span>
          <% if signed_in? %>
            <span class="links"><%= link_to 'Create a new event', newpost_path %></span>
            <span class="nav-item"><%= link_to "#{current_user.name}'s Events", current_user %></span>
            <span class="nav-item"><%= link_to "Sign out", signout_path, method: "delete" %></span>
          <% else %>
            <span class="nav-item"><%= link_to signin_path do %> <span> Login <% end %></span>
            <span class="nav-item"><%= link_to signup_path do %> <span>Sign Up <% end %></span>
          <% end %>
        </span>
      </div>
    </nav> 

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
    <%= yield %>
  </body>
</html>
